In [1]:
import pandas as pd

In [11]:
df=pd.read_csv('Countries_exercise.csv',header=1,nrows=3,names=['revinue','expenses'],na_values=[66.004734])
df

               revinue   expenses
Afghanistan  66.004734  33.835231
Angola       17.537368 -12.293361
Anguilla    -63.064989  18.223959

In [3]:
df

             name   Longitude   Latitude
0           Aruba  -69.982677  12.520880
1     Afghanistan   66.004734  33.835231
2          Angola   17.537368 -12.293361
3        Anguilla  -63.064989  18.223959
4         Albania   20.049834  41.142450
..            ...         ...        ...
236         Samoa -172.164851 -13.753243
237         Yemen   47.586762  15.909280
238  South Africa   25.083901 -29.000341
239        Zambia   27.774759 -13.458242
240      Zimbabwe   29.851441 -19.004204

[241 rows x 3 columns]

In [20]:
df=pd.read_csv('Countries_exercise.csv',header=0,nrows=3,na_values={'Longitude':'66.004734'})
df

          name  Longitude   Latitude
0        Aruba -69.982677  12.520880
1  Afghanistan  66.004734  33.835231
2       Angola  17.537368 -12.293361